<%= search_form_for(@q, url: browse_path, html: {method: :get} ) do |f| %>
	<fieldset>
		<legend>Browse</legend>

			<div class="form_row">
				<label for="age"> Age Between: </label>
				<%= f.search_field :age_lt, :size => 4 %>
				and <%= f.search_field :age_gt, :size => 4 %>
			</div>

			<div class="form_row">
				<label for="gender"> Gender:</label>
				<%= f.radio_button :gender_matches, 'Male' %>Male  
				<%= f.radio_button :gender_matches, 'Female' %>Female
			</div>

			<div class="form_row">
				<label for="location">Location:</label>
				<%= f.search_field :zip_code_cont, :size => Spec::ZIP_CODE_LENGTH  %>
			</div>

			<div>
				<%= f.submit %>
			</div>
	</fieldset>
<% end %>
