<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title><%= @title %></title>
		<%= stylesheet_link_tag "site", media: 'screen' %>
	</head>
	<body>
		<div id="whole_page">
			<div id="header">
				RailsSpace
			</div>
			<div id="nav">
				<%= link_to "Home", root_path %> |
				<%= link_to "About Us", site_about_path %> |
				<%= link_to "Help", site_help_path %>
			<div id="content">
				<%= yield %>
			</div>
		</div>
	</body>
</html>